Data Types and Structures

#1.What are data structures and why are they important?
>> Data structures are ways to organize and store data. They are important because:

Real life applications
Efficient data handling
Better memory usage.
#2.Explain the difference between mutable and immutable data typeswith examples.
>> Mutable data types are those which can be changed. For ex: Lists. Non-Mutable are those which cannot be changed. For ex: Tuples.

#3.What are the main differences between lists and tuples in python.
>> Lists are mutable while tuples are immutable. Lists are used when data needs to change while tuples are used when data should not change. Lists have slower performance tuples are faster. For list [] is used while () syntax is used for tuples.

#4.Describe how disctionaries store data.
-> Dictionaries store data in the form of key value pair.

#5.Why might you use a set instead of a list in python.
>> We might use set instead of list in python because: To remove duplicate values automatically. When you need fast lok up. When order of items does not matter. When you want to perform mathematical set operations.

#6.What is string in python and how is it different from list.
>> String is sequence of characters enclosed in quotes. Difference between strings and list: Strings uses text/characters while list is collection of items. Strings are immutable while lists are mutable. Strings store only characters while lists store any data type.
#.7. How do tuples ensure data integrity in python.
>> Tuples ensure data integrity because they are immutable.

#8.What is a hash table, and how does it relate to dictionaries in Python.
>> Hash table is data structure stored in key value pair. It works like this: 1. We give a key 2. Python calculates hash 3. Hash is mapped to an index 4. Value is stored at that index.

#9.Can lists contain different data types in python.
>> Yes, lists can contain different data types in python.

#10.Explain why strings are immutable in python.
>> Strings are immutable in python because: 1) Efficiency 2) Harshability 3) Safer and more predictable code 4) Performance

#11.What advantages do ditionaries offer over lists for certain tasks.
>> Dictionaries offer certain advantage over lists:

Fast lookup
Meaningful keys instead of index numbers
Best for structured data
No duplicate in keys

#12. Describe a scenario where using tuple would be prefrable over list.
>> Tuple can be used over list where immutability is required. One of the real life example is in ATM in banks.

#13.How do sets handle duplicate values in python.
-> Sets are built using hash tables,so whenever we add a itempython first computes its hash value and then checks if it already exists or not. if exists then item is ignored otherwise item is added.

#14.How does the "in" keyword work differently for lists and dictionaries.
>> For list in checks whether a value exists or not. For dictionary in checks whether a key exists, NOT a value.

#15. Can you modify the elements of a tuple? Explain why or why not.
>> No, we cannot modify elements of tuple because tuples are immutable.

#16. What is a nested dictionary, and give an example.
>> Dictionary inside dictionary is called nested dictionary. eg: student = { "name": "megha", "age": 25, "marks": { "math":100, "english":89 } }

#17. Describe the time complexity of accessing elements in a dictionary.
>> average O(1) worst O(n)

#18.In what situations are lists preffered over dictionaries.
>> Lists are preffered over dictionaries when order matters,indexes are useful,or you need only values without keys.

#19.Why are dictionaries considered unordered and how does that affect data retrieval.
>> Dictionaries are considered unordered because their order does not define how data is accessed.

#20. Explain the difference between a list and a dictionary in terms of data tetrieval.
>> In lists items are retrieved using numeric values while in dictionary items are retrieved using "key" values

In [1]:
# Write a code to create a string with your name and print it
name = str(input("Enter your name : "))
print(name)

Enter your name : Megha
Megha

In [2]:
#Write a code to find the length of the string "Hello World"
Str = "Hello World"
print(len(Str))

11

In [4]:
#Write a code to slice the first 3 characters from the string "Python Programming".
str = "Python Programming"
print(str[0:3])

Pyt

In [5]:
## 4. Write a code to convert the string "hello" to uppercase.
str = "hello"
upper_text = str.upper()
print(upper_text)

HELLO

In [6]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
str = "I like apple"
print(str)
new_str = str.replace("apple","orange")
print(new_str)

I like apple
I like orange

In [7]:
## 6. Write a code to create a list with numbers 1 to 5 and print it.
nums = [1,2,3,4,5]
print(nums)

[1, 2, 3, 4, 5]

In [8]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].

list = [1,2,3,4]
print(list)
list.append(10)
print(list)

[1, 2, 3, 4]
[1, 2, 3, 4, 10]

In [9]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

list = [1,2,3,4,5]
print(list)
list.remove(3)
print(list)

[1, 2, 3, 4, 5]
[1, 2, 4, 5]

In [10]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

list = ['a','b','c','d']
print(list[1])

b

In [11]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].

list = [10,20,30,40]
print(list)
list.reverse()
print(list)

[10, 20, 30, 40]
[40, 30, 20, 10]

In [12]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

nums = (100,200,300)
print(nums)

(100, 200, 300)

In [13]:
## 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

colors =('red','green','blue','yellow')
second_last = colors[-2]
print(second_last)

blue

In [14]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

nums = (10,20,5,15)
min_value = min(nums)
print(min_value)

5

In [15]:
# 14. Write a code to find the index of the element "cat" in the tuple ('doa', 'cat', 'rabbit').

animals = ('dog','cat','rabbit')
index = animals.index('cat')
print(index)

1

In [16]:
# 15. Create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ('apple', 'banana', 'mango')

fruits = ("apple", "mango", "banana")
if "kiwi" in fruits:
    print("kiwi is in the tuple")
else:
    print("kiwi is not in the tuple")

kiwi is not in the tuple

In [17]:
## 16. Create a set with the elements 'a', 'b', 'c' and print it.

my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'b', 'c'}

In [18]:
# 17. Clear all elements from the set {1, 2, 3, 4, 5}.

my_set = {'1','2','3','4','5'}
print(my_set)
my_set.clear()

{'1', '3', '5', '2', '4'}

In [20]:
## 18. Remove the element 4 from the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}

my_set = {1,2,3,4}
print(my_set)
my_set.remove(4)
print(my_set)

{1, 2, 3, 4}
{1, 2, 3}

In [19]:
## 19. Find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1 = {1,2,3}
set2 = {3,4,5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [21]:
# 20. Find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1 = {1,2,3}
set2 = {2,3,4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [22]:
## 21. Create a dictionary with the keys 'name', 'age', and 'city', and print it.

dict = {
    "name" : "john",
    "age" : 25,
    "city" : "New York"
}
print(dict)

{'name': 'john', 'age': 25, 'city': 'New York'}

In [23]:
## 22. Add a new key-value pair 'country': 'USA' to the dictionary {'name': 'John', 'age': 25}.

dict = {
    "name" : "john",
    "age" : 25
}
print(dict)
dict["country"] = "usa"

{'name': 'john', 'age': 25}

In [24]:
## 23. Access the value associated with the key 'name' in the dictionary {'Alice', 'age': 30}.
my_dict = {'name': 'Alice', 'age': 30}

dict = {
    "name" : "Alice",
    "age" : 30
}
print(dict["name"])

Alice

In [26]:
## 24. Remove the key 'age' from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict = {
    "name" : "Bob",
    "age" : 22,
    "city" : "New York"
}
print(dict)

{'name': 'Bob', 'age': 22, 'city': 'New York'}

In [27]:
# 25. Check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

dict = {
    "name" : "Alice",
    "city" : "Paris"
}
print(dict)
if "city" in dict:
    print("city exists")
else:
    print("city does not exist")

{'name': 'Alice', 'city': 'Paris'}
city exists

In [28]:
## 26. Create a list, a tuple, and a dictionary, and print them all.

list = [1,2,3,4]
print(list)
tuple = (1,2,3,4)
print(tuple)
dict = {
    "name" : "Megha",
    "age" : 25
}
print(dict)

[1, 2, 3, 4]
(1, 2, 3, 4)
{'name': 'Megha', 'age': 25}

In [29]:
## 27. Create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

nums = [45,25,33,5,87]
nums.sort()
print(nums)

[5, 25, 33, 45, 87]

In [30]:
## 28. Create a list with strings and print the element at the third index.

list = ["apple","banana","orange"]
print(list[2])

orange

In [31]:
## 29. Combine two dictionaries into one and print the result.

dict1 = {
    "name" : "Megha",
    "age" : 25
}
dict2 = {
    "city" : "kolkata",
    "state" : "West Bengal"
}
dict1.update(dict2)
print(dict1)

{'name': 'Megha', 'age': 25, 'city': 'kolkata', 'state': 'West Bengal'}

In [32]:
## 30. Convert a list of strings into a set.

list = ["apple","banana","orange"]
set = set(list)
print(set)

{'banana', 'orange', 'apple'}